<launch>

	<!-- ================================================== -->
	<!-- ==================== PARAMETERS ================== -->
	<!-- ================================================== -->

	<arg name="maqui_ip"   default="$(env robot_ip)"/>
	<arg name="roscore_ip" default="$(env ROS_IP)"/>


	<!-- ================================================== -->
	<!-- ==================== HARDWARE ==================== -->
	<!-- ================================================== -->

	<!-- core connection -->
	<!-- provides:
		* 
	-->
	<include file="$(find pepper_bringup)/launch/pepper_full.launch">
		<arg name="nao_ip"     value="$(arg maqui_ip)"/>
		<arg name="roscore_ip" value="$(arg roscore_ip)"/>
		<arg name="network_interface" value="wlan0"/>
		<arg name="namespace" value="maqui"/>
	</include> 


	<!-- =================================================== -->
	<!-- ==================== SOFTWARE ===================== -->
	<!-- =================================================== -->

	<!-- rgbd PointCloud to LaserScan projection -->
<!--      <include file="$(find maqui_bringup)/launch/tools/pcl_to_scan.launch"/>
 -->
	<!-- localization  -->
	
	<!--include file="$(find maqui_bringup)/launch/localization/localization.launch">
		<arg name="type" value="odometry"/>
	</include-->

</launch>
