<launch>

	<arg name="maqui_ip"   default="192.168.1.126"/>
	<arg name="roscore_ip" default="127.0.0.1"/>

	<!-- core connection -->
	<include file="$(find pepper_bringup)/launch/pepper_full.launch">
		<arg name="nao_ip"     value="$(arg maqui_ip)"/>
		<arg name="roscore_ip" value="$(arg roscore_ip)"/>
		<arg name="network_interface" value="wlan0"/>
	</include>

	<!-- TODO> arg> fake localization: map server + odom + set inicial pose -->
	<!-- fake localization -->
	<!-- <include file="$(find maqui_bringup)/launch/odom.launch"/> -->

	<!-- static map server -->
 	<include file="$(find uchile_maps)/launch/map_server.launch">
		<arg name="map_name" value="map"/>
	</include>
 		

	<!-- THIS was intended to localize using RGBD, but that requires a new map -->
 	<!-- <include file="$(find maqui_bringup)/launch/tools/pcl_to_scan.launch"/> -->

	<include file="$(find maqui_joy)/launch/joysticks.launch"/> 
	
	<!-- 	
		<include file="$(find nao_apps)/launch/speech.launch">
			<arg name="nao_ip"     value="$(arg maqui_ip)"/>
		</include>	
	 -->

</launch>
