<launch>


	<arg name="maqui_ip"   default="$(env robot_ip)"/>
	<arg name="roscore_ip" default="$(env ROS_IP)"/>
	<arg name="network_interface" default="wlan0"/>


	<include file="$(find maqui_bringup)/launch/maqui.launch">
		<arg name="maqui_ip"     value="$(arg maqui_ip)"/>
		<arg name="roscore_ip" value="$(arg roscore_ip)"/>
		<arg name="network_interface" value="$(arg network_interface)"/>
	</include> 

	<include file="$(find srrg_depth2laser_ros)/launch/test.launch">

	</include> 

	<include file="$(find pepper_dcm_bringup)/launch/pepper_bringup.launch">
		<arg name="network_interface" value="$(arg network_interface)"/>
	</include> 

	<include file="$(find maqui_bringup)/launch/localization/localization.launch">
	</include> 

	<include file="$(find maqui_bringup)/launch/navigation/navigation.launch">
	</include> 




</launch>
